Play.Catalog/src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.pdb
Play.Catalog/src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.dll
Play.Catalog/src/Play.Catalog.Service/bin/Debug/net5.0/Play.Catalog.Service.pdb
Play.Catalog/src/Play.Catalog.Service/bin/Debug/net5.0/ref/Play.Catalog.Service.dll
Play.Catalog/src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.dll
Play.Catalog/src/Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.pdb
Play.Catalog/src/Play.Catalog.Service/obj/Debug/net5.0/ref/Play.Catalog.Service.dll
